In [69]:
import pandas as pd
import numpy as np

In [70]:
df_GHA = pd.read_csv('2019.11.01.009-GHA_.csv',sep=';', parse_dates=[0]) 
df_GHB = pd.read_csv('2019.11.01.009-GHB_.csv',sep=';')
df_meteo = pd.read_csv('METEO_311314.csv',sep=';')

In [71]:
df_GHA.reset_index()
df_GHA=df_GHA.drop(["id", "cmd_id", "device_name", "createdAt", "updatedAt"], axis=1)
df_GHA = df_GHA.pivot_table(index=["tmp"], columns=["cmd_name", "enno_serial"], values="value")

df_GHA.head()

cmd_name            Backward Temperature Forward Temperature
enno_serial          2019.11.01.009-GH-A 2019.11.01.009-GH-A
tmp
2021-01-01 01:00:00                28.48               34.26
2021-01-01 01:15:00                30.02               34.14
2021-01-01 01:30:00                30.80               34.62
2021-01-01 01:45:00                27.02               33.23
2021-01-01 02:00:00                26.15               32.75

In [72]:
df_GHB.reset_index()
df_GHB.index = pd.to_datetime(df_GHB['tmp'])
df_GHB=df_GHB.drop(["id", "cmd_id", "device_name", "createdAt", "updatedAt", "tmp"], axis=1)
df_GHB = df_GHB.pivot_table(index=["tmp"], columns=["cmd_name", "enno_serial"], values="value")

df_GHB.head()

cmd_name            Backward Temperature Forward Temperature
enno_serial          2019.11.01.009-GH-B 2019.11.01.009-GH-B
tmp
2021-01-01 01:00:00                41.37               53.48
2021-01-01 01:15:00                42.84               53.18
2021-01-01 01:30:00                43.02               51.48
2021-01-01 01:45:00                42.83               53.72
2021-01-01 02:00:00                45.08               54.26

In [73]:
df_merged = pd.merge(df_GHA, df_GHB, how="inner", right_index=True, left_index=True)

In [74]:
df_merged.head()

cmd_name,Backward Temperature,Forward Temperature,Backward Temperature,Forward Temperature
enno_serial,2019.11.01.009-GH-A,2019.11.01.009-GH-A,2019.11.01.009-GH-B,2019.11.01.009-GH-B
tmp,,,,
2021-01-01 01:00:00,28.48,34.26,41.37,53.48
2021-01-01 01:15:00,30.02,34.14,42.84,53.18
2021-01-01 01:30:00,30.80,34.62,43.02,51.48
2021-01-01 01:45:00,27.02,33.23,42.83,53.72
2021-01-01 02:00:00,26.15,32.75,45.08,54.26

In [75]:
df_meteo.index = pd.to_datetime(df_meteo['tmp'])
df_meteo=df_meteo.drop(["tmp", "cmd_id", "device_name", "createdAt", "updatedAt", "key", "id"], axis=1)
df_meteo = df_meteo.pivot_table(index=["tmp"], columns=["cmd_name"], values="value")

df_meteo.head()

cmd_name             gh_globalRadiationHorizPlan_wm2  tt_airTemperature_degrec
tmp
2021-01-01 00:00:00                              0.0                       3.1
2021-01-01 00:15:00                              0.0                       2.8
2021-01-01 00:30:00                              0.0                       2.8
2021-01-01 00:45:00                              0.0                       2.9
2021-01-01 01:00:00                              0.0                       2.9

In [76]:
df_final = pd.merge(df_merged, df_meteo, how="inner", right_index=True, left_index=True)
df_final.columns = ['BT-A', 'FT-A','BT-B', 'FT-B', 'GH', 'TT' ]
df_final.head()

                      BT-A   FT-A   BT-B   FT-B   GH   TT
tmp
2021-01-01 01:00:00  28.48  34.26  41.37  53.48  0.0  2.9
2021-01-01 01:15:00  30.02  34.14  42.84  53.18  0.0  3.1
2021-01-01 01:30:00  30.80  34.62  43.02  51.48  0.0  3.0
2021-01-01 01:45:00  27.02  33.23  42.83  53.72  0.0  2.9
2021-01-01 02:00:00  26.15  32.75  45.08  54.26  0.0  2.8

In [77]:
df_final.to_csv('final_aggregation', index=True)